body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

table {
    margin: 0;
    border-spacing: 0;
}

td {
    height: 20px;
    width: 20px;
    background: tomato;
    display: inline-block;
    text-align: center;
    line-height: 25vw;
    font-size: 20vw;
    margin: 0;
    position: relative;
    border: 2px solid gray;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: yellow;
}

button:hover {
    background-color: blue;
    color: white;
}