* {
    font-family: 'Smooch Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/033/752/895/large/sibylle-hell-litegames-minesweeperworld-defaultbg.jpg?1610477693);
    background-size: 210vh;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 70px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: rgb(17, 15, 15);
    color: white;
}

main {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(73, 236, 182);
}

p {
    font-size: 30px;
    font-weight: bold;
}

.flagged {
    background-image: url('../Images/Flag.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

table tr td{
    border: 2px solid rgb(123, 148, 22);
    background: rgb(80, 213, 215);
    width: 25px;
    height: 25px;
    text-align: center;
}

td.clicked {
    background: #371ea7;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    font-size: 20px;
}

button:hover {
    background-color: blue;
    color: white;
}

td:hover {
    opacity: 0.5;
}

.bombed {
    background-image: url('../Images/bomb.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 67, 67);
}